In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../../data/raw/TrainingData/marriage_data_india.csv")

In [4]:
df.head()
df.drop(columns=["ID","Marriage_Type", "Parental_Approval","Dowry_Exchanged","Years_Since_Marriage","Children_Count"], inplace=True)
df.to_csv("../../../data/processed/TrainingData/marriage_data_india.csv")

In [5]:
df = pd.read_csv("../../../data/processed/TrainingData/marriage_data_india.csv")
df.head()

,Unnamed: 0,Age_at_Marriage,Gender,Education_Level,Caste_Match,Religion,Urban_Rural,Marital_Satisfaction,Divorce_Status,Income_Level,Spouse_Working,Inter-Caste,Inter-Religion
0,0,23,Male,Graduate,Different,Hindu,Urban,Medium,Yes,Middle,No,No,No
1,1,28,Female,School,Same,Hindu,Rural,Low,No,Middle,No,No,Yes
2,2,39,Male,Postgraduate,Same,Muslim,Rural,Medium,No,High,No,No,No
3,3,26,Female,School,Different,Hindu,Urban,Low,No,High,No,Yes,No
4,4,32,Female,Graduate,Same,Hindu,Rural,Medium,No,Middle,No,No,Yes